/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  padding-left: 5px;
  box-sizing: border-box
}
.column {
  font-weight: bold;
  font-size: 18px;
}
table {
  width: 100%;
}
tr {
  font-size: 14px;
}
td {
  padding: 10px;
}
span {
  font-size: 14px;
}
p {
  font-size: 14px;
}
.command {
  text-align: right;
}
.text_title {
  line-height: 0px;
}
.submit {
  padding-top: 3px;
}
.flex-box {
  display: flex;
  padding: 15px 0 0 50px;
}
.bold {
  font-weight: bold;
}
.flash-message {
  padding: 15px 0 0 50px;
  color: green;
}