// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home-text {
  padding-left: 30px;
}
span {
  font-weight: bolds;
}

p {
  padding-bottom: 8px;
}